name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Check codestyle
        run: git ls-files *.{cpp,h} | xargs clang-format -i --verbose && git diff --exit-code

      - name: Test
        run: make test && ./bin/gallows-test.exe

      - name: Build application
        run: sudo apt install libsfml-dev make
